export DB_HOST=localhost
export DB_NAME=uplift
export DB_PASSWORD=CHANGE_ME
export DB_PORT=5432
export DB_USERNAME=CHANGE_ME
export FLASK_ENV=development
export GOOGLE_SERVICE_ACCOUNT_PATH=service-account-key.json
export GOOGLE_WEB_CLIENT_ID=CHANGE_ME.apps.googleusercontent.com
export GOOGLE_ALLOWED_HOSTED_DOMAIN=cornell.edu
