export DB_HOST=localhost
export DB_NAME=uplift
export DB_PASSWORD=CHANGE_ME
export DB_PORT=5432
export DB_USERNAME=CHANGE_ME
export FLASK_ENV=development
export GOOGLE_SERVICE_ACCOUNT_PATH=service-account-key.json